.navbar {
  background-color: rgba(227, 191, 45, 0.5);
}
.navbar .btn {
  background-color: white;
  margin: 10px;
  border-color: black;
}
.navbar .input {
  border-color: black;
}
h1 {
  padding: 20px;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: black;
}
.btn:hover {
  border-radius: 50px;
}
.img {
  height: 220px;
}
.card-body {
  margin: 5px;
}
.buttons {
  text-align: center;
}
button {
  background-color:#3C6997;
  padding: 5px;
  border-color: #3C6997;
  border-radius: 10px;
}
button:hover {
  padding: 10px;
}
.buttons > button > .link {
  color: white;
}
.buttons > button > .link:hover {
  color: white;
}
.infos {
  font-size: 20px;
}
